html body {
    background-color: #40F99B;
}

h1{
    text-align: center;
    font-size: 400%;
    color: #fafafa;
}
main p {
    margin: 20px;
    display: flex;
}
main article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about-content {
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
}
img {
    width: 100%;
    flex: 1;
}