@import url('https://fonts.googleapis.com/css?family=Francois+One');
:root {
    font-size: 20px;
    font-family: 'Francois One', Arial, Helvetica;
    background-color: #7B6D8D;
}

.social-icon {
    height: 30px;
    width: 30px;
}
ul {
    font-size: 75%;
    text-align: right;
    list-style-type: none;
    text-decoration: none;
    color: #fafafa;
}
img {
    height: 200px;
    width: 200px;
}